In [191]:
# Laden der notwendigen Bibliotheken
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns   # https://seaborn.pydata.org

# Make sure the plots are displayed inline (within the notebook)
%matplotlib inline
import numpy as np
import csv

FILENAME_DATASET = "../data/property_listingsERA5.csv"
#fs ="c:/Users/sve75036/Downloads/cleaned_property_listingsERA.csv"

In [192]:
import chardet

# Detect file encoding
with open(FILENAME_DATASET, 'rb') as file:
    result = chardet.detect(file.read())
    encoding = result['encoding']
    print(f"Detected encoding: {encoding}")

Detected encoding: ISO-8859-1

In [193]:
#Datensatz wird kopiert und  kontroliert ob die Dimension des Datensatzes ist korrekt
fields = ["ID", "Location", "Price", "Property Type", "Rooms", "WCs", "Net Floor Area (m2)", "Gross Private Area (m2)", 
                        "Parking", "Floor", "Elevator", "Energy Performance Certificate", ]
df = pd.read_csv(FILENAME_DATASET,
                sep=';',
                encoding='ISO-8859-1',
                header=0, 
                quotechar='"',
                quoting=csv.QUOTE_NONNUMERIC,
                on_bad_lines='skip',
                names=fields,
                )
df_Copy = df
nSpalten = df_Copy.shape[1]
nZeilen = df_Copy.shape[0]
if nSpalten == 12 and nZeilen == 1949:
    print(
       f"Der Datensatz hat  Zeilen {nZeilen} und {nSpalten} Spalten. Die Dimension des Datensatzes ist korrekt.")
else:
    print("Fehler: Der Datensatz hat nicht die erwartete Dimension", nSpalten, nZeilen)
df_Copy.head()

Der Datensatz hat  Zeilen 1949 und 12 Spalten. Die Dimension des Datensatzes ist korrekt.

,ID,Location,Price,Property Type,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Elevator,Energy Performance Certificate
0,2.0,"Rio Tinto - Medancelhe, Gondomar",220.000,Apartment,4,2,126,161,1,0,Not available,Not available
1,3.0,"Arroios, Lisboa",365.000,Apartment,2,1,67,67,Not available,Not available,Not available,Not available
2,4.0,"Fafe, Braga",220.000,Apartment,4,3,180,164,Not available,Not available,Not available,Not available
3,5.0,"Bonfim, Porto",230.000,Apartment,3,2,87,87,Not available,Not available,Not available,Not available
4,6.0,"Benfica, Lisboa",460.000,Apartment,3,2,81,104,1,9,Elevator,Energy Performance Certificate

In [176]:

#hier werden die kategoriale Variable Elevator in der Spalte in das binäre (Dummy) Variable konvertiert, the origin variable Elevator will be deleted the new boolean Variable Elevator_Not available will be added to the Data Frame
VARIABLES_TO_OHE = ["Elevator"]

df_Copy=pd.concat([df_Copy,pd.get_dummies(df_Copy[VARIABLES_TO_OHE], drop_first=True)], axis=1)

In [177]:
#Zeigt eine Zusammenfassung der Informationen über den Data Frame an, einschließlich Anzahl der Nicht-Null-Einträge und Datentypen der Spalten
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1949 non-null   float64
 1   Location                        1949 non-null   object
 2   Price                           1949 non-null   object
 3   Property Type                   1949 non-null   object
 4   Rooms                           1949 non-null   object
 5   WCs                             1949 non-null   object
 6   Net Floor Area (m2)             1949 non-null   object
 7   Gross Private Area (m2)         1949 non-null   object
 8   Parking                         1949 non-null   object
 9   Floor                           1949 non-null   object
 10  Elevator                        1949 non-null   object
 11  Energy Performance Certificate  1949 non-null   object
 12  Elevator_Not available          1949 non-null   bool
dtypes: bool(1), float64(1), object(11)
memory usage: 184.8+ KB

In [178]:
columnsNum =['Parking', 'Rooms','WCs','Net Floor Area (m2)','Gross Private Area (m2)', 'Floor']
for column in columnsNum:
    df_Copy[column]= pd.to_numeric(df_Copy[column], errors='coerce')
    df_Copy[column].abs()
print(df_Copy.head())

    ID                          Location    Price Property Type  Rooms  WCs  \
0  2.0  Rio Tinto - Medancelhe, Gondomar  220.000     Apartment    4.0  2.0
1  3.0                   Arroios, Lisboa  365.000     Apartment    2.0  1.0
2  4.0                       Fafe, Braga  220.000     Apartment    4.0  3.0
3  5.0                     Bonfim, Porto  230.000     Apartment    3.0  2.0
4  6.0                   Benfica, Lisboa  460.000     Apartment    3.0  2.0

   Net Floor Area (m2)  Gross Private Area (m2)  Parking  Floor  \
0                126.0                    161.0      1.0    0.0
1                 67.0                     67.0      NaN    NaN
2                180.0                    164.0      NaN    NaN
3                 87.0                     87.0      NaN    NaN
4                 81.0                    104.0      1.0    9.0

        Elevator  Energy Performance Certificate  Elevator_Not available
0  Not available                   Not available                    True
1  Not available                   Not available                    True
2  Not available                   Not available                    True
3  Not available                   Not available                    True
4       Elevator  Energy Performance Certificate                   False

#### Ergänzen und Manipulieren der Daten

In [179]:
#Zeigt eine Zusammenfassung der Informationen über den Data Frame an, einschließlich Anzahl der Nicht-Null-Einträge und Datentypen der Spalten
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1949 non-null   float64
 1   Location                        1949 non-null   object
 2   Price                           1949 non-null   object
 3   Property Type                   1949 non-null   object
 4   Rooms                           1922 non-null   float64
 5   WCs                             1835 non-null   float64
 6   Net Floor Area (m2)             1787 non-null   float64
 7   Gross Private Area (m2)         1754 non-null   float64
 8   Parking                         1108 non-null   float64
 9   Floor                           1012 non-null   float64
 10  Elevator                        1949 non-null   object
 11  Energy Performance Certificate  1949 non-null   object
 12  Elevator_Not available          1949 non-null   bool
dtypes: bool(1), float64(7), object(5)
memory usage: 184.8+ KB

In [180]:
df_Copy.isnull().sum()

ID                                  0
Location                            0
Price                               0
Property Type                       0
Rooms                              27
WCs                               114
Net Floor Area (m2)               162
Gross Private Area (m2)           195
Parking                           841
Floor                             937
Elevator                            0
Energy Performance Certificate      0
Elevator_Not available              0
dtype: int64

In [183]:
#Delete the variable we do not need for ML
df_Copy=df_Copy.drop(['ID','Property Type', 'Elevator' ], axis=1)

In [184]:
# Create a new variable 'Capital' to denote whether the property is located in Lisbon, 
# as this factor can significantly influence property prices. This binary variable 
# will help in the analysis of price determinants.
city = df_Copy['Location']

def check(row):
    return 'Lisboa' in row['Location']

df_Copy['Capital'] = df_Copy.apply(lambda row: check(row), axis=1)
df_Copy.head()

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital
0,"Rio Tinto - Medancelhe, Gondomar",220.000,4.0,2.0,126.0,161.0,1.0,0.0,Not available,True,False
1,"Arroios, Lisboa",365.000,2.0,1.0,67.0,67.0,NaN,NaN,Not available,True,True
2,"Fafe, Braga",220.000,4.0,3.0,180.0,164.0,NaN,NaN,Not available,True,False
3,"Bonfim, Porto",230.000,3.0,2.0,87.0,87.0,NaN,NaN,Not available,True,False
4,"Benfica, Lisboa",460.000,3.0,2.0,81.0,104.0,1.0,9.0,Energy Performance Certificate,False,True

In [189]:
# Create a new variable 'Metropolitan Areas' and 'Large cities'(for cities over 100000 population) to denote whether the property is located in metropolitan area or/and in a cit, 
# as this factors can significantly influence property prices. These binary variables 
# will help in the analysis of price determinants.
city = df_Copy['Location']

def check(row):
    return any(city in row['Location'] for city in ['Lisboa', 'Amadora', 'Queluz', 'Setúbal', 'Almada', 'Agualva-Cacém','Porto', 'Vila Nova de Gaia', 'Gondomar', 'Rio Tinto', 'Póvoa de Varzim', 'Matosinhos'])
def checkCity(row):
    return any(city in row['Location'] for city in ['Lisboa', 'Porto', 'Braga', 'Setúbal', 'Vila Nova de Gaia', 'Amadora','Coimbra','Funchal']) 

df_Copy['Metropolitan Areas'] = df_Copy.apply(lambda row: check(row), axis=1)
df_Copy['Large cities']=df_Copy.apply(lambda row: checkCity(row), axis=1)
df_Copy.head()

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital,Metropolitan Areas,Large cities
0,"Rio Tinto - Medancelhe, Gondomar",220.000,4.0,2.0,126.0,161.0,1.0,0.0,Not available,True,False,True,False
1,"Arroios, Lisboa",365.000,2.0,1.0,67.0,67.0,NaN,NaN,Not available,True,True,True,True
2,"Fafe, Braga",220.000,4.0,3.0,180.0,164.0,NaN,NaN,Not available,True,False,False,True
3,"Bonfim, Porto",230.000,3.0,2.0,87.0,87.0,NaN,NaN,Not available,True,False,True,True
4,"Benfica, Lisboa",460.000,3.0,2.0,81.0,104.0,1.0,9.0,Energy Performance Certificate,False,True,True,True

In [190]:
File_Age = "../data/age2022-1.csv"
df2 = pd.read_csv(File_Age,
                sep=';',
                encoding='ISO-8859-1',
                header=0, 
                on_bad_lines='skip',
                
                engine='python'
                )
df2.head()

,Designação,Taxa de crescimento efetivo,Taxa de crescimento natural,Taxa de crescimento migratório,Idade mediana da população residente,1º quartil da idade da população residente,3º quartil da idade da população residente
0,Portugal,"0,44","-0,39","0,83",47,"26,7","64,2"
1,Continente,"0,45","-0,39","0,84","47,1","26,7","64,4"
2,Norte,"0,59","-0,35","0,94","47,4","27,1","63,9"
3,Alto Minho,"0,15","-0,74","0,89","50,3","29,6","67,5"
4,Arcos de Valdevez,0,"-1,2","1,2","55,4","33,6","71,8"

In [164]:
#Ensure the location columns are in the correct format
df_Copy['Location'] = df_Copy['Location'].astype(str)
df2['Designação'] = df2['Designação'].astype(str)

# Initialize the 'Mean Age' column in df1

df_Copy['Median Age'] = None

# Iterate over the rows of df1
for i, row in df_Copy.iterrows():
    for j, location in df2['Designação'].items():
        if location in row['Location']:
            df_Copy.at[i, 'Median Age'] = df2.at[j,'Idade mediana da população residente']
            break

# Check the updated DataFrame
print(df_Copy.head())

    ID                          Location    Price Property Type  Rooms  WCs  \
0  2.0  Rio Tinto - Medancelhe, Gondomar  220.000     Apartment    4.0  2.0
1  3.0                   Arroios, Lisboa  365.000     Apartment    2.0  1.0
2  4.0                       Fafe, Braga  220.000     Apartment    4.0  3.0
3  5.0                     Bonfim, Porto  230.000     Apartment    3.0  2.0
4  6.0                   Benfica, Lisboa  460.000     Apartment    3.0  2.0

   Net Floor Area (m2)  Gross Private Area (m2)  Parking  Floor  \
0                126.0                    161.0      1.0    0.0
1                 67.0                     67.0      NaN    NaN
2                180.0                    164.0      NaN    NaN
3                 87.0                     87.0      NaN    NaN
4                 81.0                    104.0      1.0    9.0

        Elevator  Energy Performance Certificate  Elevator_Not available  \
0  Not available                   Not available                    True
1  Not available                   Not available                    True
2  Not available                   Not available                    True
3  Not available                   Not available                    True
4       Elevator  Energy Performance Certificate                   False

   Capital  Metropolitan Areas  Large cities Median Age
0    False                True         False       47,1
1     True                True          True       44,8
2    False               False          True       44,4
3    False                True          True         47
4     True                True          True       44,8

In [165]:
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1949 non-null   float64
 1   Location                        1949 non-null   object
 2   Price                           1949 non-null   object
 3   Property Type                   1949 non-null   object
 4   Rooms                           1922 non-null   float64
 5   WCs                             1835 non-null   float64
 6   Net Floor Area (m2)             1787 non-null   float64
 7   Gross Private Area (m2)         1754 non-null   float64
 8   Parking                         1108 non-null   float64
 9   Floor                           1012 non-null   float64
 10  Elevator                        1949 non-null   object
 11  Energy Performance Certificate  1949 non-null   object
 12  Elevator_Not available          1949 non-null   bool
 13  Capital                         1949 non-null   bool
 14  Metropolitan Areas              1949 non-null   bool
 15  Large cities                    1949 non-null   bool
 16  Median Age                      1898 non-null   object
dtypes: bool(4), float64(7), object(6)
memory usage: 205.7+ KB

Überprüfung und Bereinigung des Datensatzes

Die folgenden Schritte werden durchgeführt, um die Daten zu bereinigen und eine neue Variable basierend auf dem Einkaufsverhalten zu erstellen, die für weitere Analysezwecke nützlich sein kann:

   - Zeigen eine Zusammenfassung der Informationen über den Data Frame an, einschließlich der Anzahl der Nicht-Null-Einträge und der Datentypen der Spalten.
   - Ersetzen alle Werte in Spalte 'CustomerID' durch 'anonym' - da die IDs sind nicht relevant für unsere Analyse
   - Wandelen alle numerischen Werte in absolute Zahlen um.
   - Zählen die Anzahl der fehlenden Werte in jeder Spalte des Data Frames.
   - Zeigen der deskriptiven Statistiken um zu sehen ob mean und median Werte für 'PurchaseAmountUSD' unterscheiden sich stark und wie hoch ist max Wert um zu entscheiden nach welche Strategie die NaN Values für Variable PurchaseAmountUSD zu imputieren 
   - Mean Strategie ist augewält für die NaN für die Variable PurchaseAmountUSD. Die Values sind imputed
   - Zeihgen die Values für Variable 'Location' 

   - Erstellen Sie eine neue Variable "PurchasePerYear", indem Sie die Zeichenfolgenwerte der Variable "FrequencyofPurchases" in numerische Werte umwandeln und sie in der Variablen "PurchasePerYear" speichern.