### Gruppe 3
 - Svetlana Marchenko Matrikel NR 20236284
 - Rachid En Nasiry   Matrikel NR 20240192

In [50]:
# Laden der notwendigen Bibliotheken
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns   # https://seaborn.pydata.org

import numpy as np

FILENAME_DATASET = "dataconcatPropertyAndAge2305.csv"

In [51]:
#Datensatz wird kopiert und  kontroliert ob die Dimension des Datensatzes ist korrekt
df = pd.read_csv(FILENAME_DATASET,
                 sep=';',
                 encoding='utf-8',
                 header=0)
df_Copy = df
nSpalten = df_Copy.shape[1]
nZeilen = df_Copy.shape[0]
if nSpalten == 16 and nZeilen == 1949:
    print(
       f"Der Datensatz hat  Zeilen {nZeilen} und {nSpalten} Spalten. Die Dimension des Datensatzes ist korrekt.")
else:
    print(f"Fehler: Der Datensatz hat nicht die erwartete Dimension  {nZeilen}  und {nSpalten}"  )
#df_Copy.head(

Der Datensatz hat  Zeilen 1949 und 16 Spalten. Die Dimension des Datensatzes ist korrekt.

In [33]:
df_Copy.head()

,Unnamed: 0,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital,Metropolitan Areas,Large cities,Median Age,Coastal Locations
0,0,"Rio Tinto - Medancelhe, Gondomar",220.000,4.0,2.0,126.0,161.0,1.0,0.0,Not available,True,False,True,False,"47,1",False
1,1,"Arroios, Lisboa",365.000,2.0,1.0,67.0,67.0,NaN,NaN,Not available,True,True,True,True,"44,8",False
2,2,"Fafe, Braga",220.000,4.0,3.0,180.0,164.0,NaN,NaN,Not available,True,False,False,True,"44,4",False
3,3,"Bonfim, Porto",230.000,3.0,2.0,87.0,87.0,NaN,NaN,Not available,True,False,True,True,47,True
4,4,"Benfica, Lisboa",460.000,3.0,2.0,81.0,104.0,1.0,9.0,Energy Performance Certificate,False,True,True,True,"44,8",False

In [53]:
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      1949 non-null   int64
 1   Location                        1949 non-null   object
 2   Price                           1949 non-null   object
 3   Rooms                           1922 non-null   float64
 4   WCs                             1835 non-null   float64
 5   Net Floor Area (m2)             1787 non-null   float64
 6   Gross Private Area (m2)         1754 non-null   float64
 7   Parking                         1108 non-null   float64
 8   Floor                           1012 non-null   float64
 9   Energy Performance Certificate  1949 non-null   object
 10  Elevator_Not available          1949 non-null   bool
 11  Capital                         1949 non-null   bool
 12  Metropolitan Areas              1949 non-null   bool
 13  Large cities                    1949 non-null   bool
 14  Coastal Locations               1949 non-null   bool
 15  Median Age                      1898 non-null   object
dtypes: bool(5), float64(6), int64(1), object(4)
memory usage: 177.1+ KB

In [68]:
def clean_string(age):
    return float(age.replace(',', '.'))

#cleaned_string = input_string.replace(',', '') 
#result = float(cleaned_string) 
df_Copy['Median Age']=df_Copy['Median Age'].astype(str)
df_Copy['Median Age']=df_Copy['Median Age'].apply(clean_string)

df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      1949 non-null   int64
 1   Location                        1949 non-null   object
 2   Price                           1949 non-null   object
 3   Rooms                           1922 non-null   float64
 4   WCs                             1835 non-null   float64
 5   Net Floor Area (m2)             1787 non-null   float64
 6   Gross Private Area (m2)         1754 non-null   float64
 7   Parking                         1108 non-null   float64
 8   Floor                           1012 non-null   float64
 9   Energy Performance Certificate  1949 non-null   object
 10  Elevator_Not available          1949 non-null   bool
 11  Capital                         1949 non-null   bool
 12  Metropolitan Areas              1949 non-null   bool
 13  Large cities                    1949 non-null   bool
 14  Coastal Locations               1949 non-null   bool
 15  Median Age                      1898 non-null   float64
dtypes: bool(5), float64(7), int64(1), object(3)
memory usage: 177.1+ KB

In [69]:
df_Copy['Median Age'].min()

42.2