### Gruppe 3
 - Svetlana Marchenko Matrikel NR 20236284
 - Rachid En Nasiry   Matrikel NR 20240192

## Daten einlesen

In der Übung arbeiten wir mit dem Datensatz bekommen von unsere csv File.  Dieser umfasst 1950 Beobachtungen zu den Verkaufspreisen von Wohnungen in Portugal. Die Daten sind in der Datei `housing.csv` abgelegt. Der Datensatz enthält verschiedene Variablen, die relevante Informationen über Immobilien in Portugal darstellen. Nachfolgend sind die Variablen detailliert beschrieben:

## Variablen
- `Location`: Der geografische Standort der Immobilie. Diese Variable enthält die Namen von Städten oder spezifischen Gebieten innerhalb von Städten.
- `Price `: lot size of a property in square feet
- `bedrooms`: number of bedrooms
- `bathrms`: number of full bathrooms
- `stories`: number of stories excluding basement
- `driveway`: does the house have a driveway? 1 if True, otherwise 0
- `recroom`: does the house have a recreation room? 1 if True, otherwise 0
- `fullbase`: does the house have a full finished basement? 1 if True, otherwise 0
- `gashw`: does the house use gas for hot water heating? 1 if True, otherwise 0
- `airco`: does the house have central air conditioning? 1 if True, otherwise 0
- `garagepl`: number of garage places
- `prefarea`: is the house located in the preferred neighbourhood of the city? 1 if True, otherwise 0

In [490]:
#Laden der notwendigen Bibliotheken
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns   # https://seaborn.pydata.org

import numpy as np

FILENAME_DATASET = "dataconcatPropertyAndAgeDistance2805-22_35.csv"

In [491]:
#Datensatz wird kopiert und  kontroliert ob die Dimension des Datensatzes ist korrekt
df = pd.read_csv(FILENAME_DATASET,
                 sep=';',
                 encoding='ISO-8859-1',
                 header=0, 
                 )
df_Copy = df
nSpalten = df_Copy.shape[1]
nZeilen = df_Copy.shape[0]
if nSpalten == 15 and nZeilen == 1949:
    print(
       f"Der Datensatz hat  Zeilen {nZeilen} und {nSpalten} Spalten. Die Dimension des Datensatzes ist korrekt.")
else:
    print(f"Fehler: Der Datensatz hat nicht die erwartete Dimension  {nZeilen}  und {nSpalten}"  )

Fehler: Der Datensatz hat nicht die erwartete Dimension  1949  und 16

In [492]:
df_Copy.tail()

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital,Metropolitan Areas,Large cities,Coastal Locations,Median Age,Distance To Ocean
1944,"Monte da Caparica, Almada",119.000,1.0,1.0,56.0,56.0,1.0,2.0,Energy Performance Certificate,False,False,True,False,False,"46,3",4
1945,"Olhão Centro, Olhão",240.000,3.0,2.0,90.0,105.0,NaN,NaN,Not available,True,False,False,False,True,"46,2",63
1946,"Alferrarede, Abrantes",120.000,2.0,1.0,95.0,95.0,NaN,NaN,Not available,True,False,False,False,False,"53,4",97
1947,"Laranjeiro e Feijó, Setúbal",235.000,2.0,2.0,77.0,94.0,NaN,NaN,Not available,True,False,True,True,False,"46,6",6
1948,"Bom João, Faro",175.000,2.0,1.0,72.0,72.0,NaN,NaN,Not available,True,False,False,False,True,"45,7",55

In [493]:
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1949 non-null   object
 1   Price                           1949 non-null   object
 2   Rooms                           1922 non-null   float64
 3   WCs                             1835 non-null   float64
 4   Net Floor Area (m2)             1787 non-null   float64
 5   Gross Private Area (m2)         1754 non-null   float64
 6   Parking                         1108 non-null   float64
 7   Floor                           1012 non-null   float64
 8   Energy Performance Certificate  1949 non-null   object
 9   Elevator_Not available          1949 non-null   bool
 10  Capital                         1949 non-null   bool
 11  Metropolitan Areas              1949 non-null   bool
 12  Large cities                    1949 non-null   bool
 13  Coastal Locations               1949 non-null   bool
 14  Median Age                      1898 non-null   object
 15  Distance To Ocean               1949 non-null   object
dtypes: bool(5), float64(6), object(5)
memory usage: 177.1+ KB

Löschen von Daten mit fehlenden Werten in der Spalte "Preis" auf der Grundlage der folgenden Argumentation bei Verwendung des Datensatzes für die Preisvorhersage:

- Data Integrity: Ein fehlender Wert in der Spalte "Preis" deutet auf das Fehlen wesentlicher Informationen hin. Ohne den Preis einer Immobilie zu kennen, ist es schwierig, aussagekräftige Erkenntnisse zu gewinnen oder genaue Vorhersagen über ihren Wert zu treffen.

- Prediction Accuracy: Bei der Erstellung von  Predictive Model wirkt sich die Qualität der Eingabedaten direkt auf die Genauigkeit und Zuverlässigkeit der Modellvorhersagen aus. Die Einbeziehung unvollständiger oder ungenauer Daten kann zu verzerrten oder unzuverlässigen Modellergebnissen führen.

- Model Performance: Modelle, die auf unvollständigen Daten trainiert werden, können verzerrte Vorhersagen produzieren oder unter einer Überanpassung leiden. Durch das Entfernen von Zeilen mit fehlenden "Preis"-Werten stellen wir sicher, dass sich das Vorhersagemodell nur auf relevante und vollständige Daten konzentriert, was zu einer besseren Generalisierung und Leistung bei ungesehenen Daten führen kann.

In [463]:
#converting the string to a float.

def to_num(price):
    try:
        # Try converting the input to a float
        return int(float(price) /1000)
    except ValueError:
        # If conversion to float fails (i.e., price is not a number), return NaN
        return -1

        

df_Copy['Price']=df_Copy['Price'].astype(str)
df_Copy['Price']=df_Copy['Price'].apply(to_num)

df_Copy.info()
df_Copy.tail()

<class 'pandas.core.frame.DataFrame'>
Index: 1775 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1775 non-null   object
 1   Price                           1775 non-null   int64
 2   Rooms                           1775 non-null   float64
 3   WCs                             1775 non-null   float64
 4   Net Floor Area (m2)             1651 non-null   float64
 5   Gross Private Area (m2)         1628 non-null   float64
 6   Parking                         1775 non-null   float64
 7   Floor                           922 non-null    float64
 8   Energy Performance Certificate  1775 non-null   object
 9   Elevator_Not available          1775 non-null   bool
 10  Capital                         1775 non-null   bool
 11  Metropolitan Areas              1775 non-null   bool
 12  Large cities                    1775 non-null   bool
 13  Coastal Locations               1775 non-null   bool
 14  Median Age                      1729 non-null   float64
 15  Distance To Ocean               1775 non-null   object
dtypes: bool(5), float64(7), int64(1), object(3)
memory usage: 175.1+ KB

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital,Metropolitan Areas,Large cities,Coastal Locations,Median Age,Distance To Ocean
1944,"Monte da Caparica, Almada",119000,1.0,1.0,56.0,56.0,1.0,2.0,Energy Performance Certificate,False,False,True,False,False,46.3,4
1945,"Olhão Centro, Olhão",240000,3.0,2.0,90.0,105.0,0.0,NaN,Not available,True,False,False,False,True,46.2,63
1946,"Alferrarede, Abrantes",120000,2.0,1.0,95.0,95.0,0.0,NaN,Not available,True,False,False,False,False,53.4,97
1947,"Laranjeiro e Feijó, Setúbal",235000,2.0,2.0,77.0,94.0,0.0,NaN,Not available,True,False,True,True,False,46.6,6
1948,"Bom João, Faro",175000,2.0,1.0,72.0,72.0,0.0,NaN,Not available,True,False,False,False,True,45.7,55

Die aus der CSV-Quelldatei abgerufene Variable "Median Age" ist als String mit Kommas gespeichert, z. B. "1.000".
Um sie als numerischen Wert zu verwenden, müssen wir sie in eine Fließkommazahl umwandeln. Diese Funktion führt die notwendige
#Diese Funktion führt die notwendige Konvertierung durch, indem sie die Kommas entfernt und die Zeichenkette in eine Fließkommazahl konvertiert.

In [464]:
df_Copy.dropna(subset=['Price'], how='all', inplace=True)
df_Copy = df_Copy[df_Copy['Price'] != -1]
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1775 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1775 non-null   object
 1   Price                           1775 non-null   int64
 2   Rooms                           1775 non-null   float64
 3   WCs                             1775 non-null   float64
 4   Net Floor Area (m2)             1651 non-null   float64
 5   Gross Private Area (m2)         1628 non-null   float64
 6   Parking                         1775 non-null   float64
 7   Floor                           922 non-null    float64
 8   Energy Performance Certificate  1775 non-null   object
 9   Elevator_Not available          1775 non-null   bool
 10  Capital                         1775 non-null   bool
 11  Metropolitan Areas              1775 non-null   bool
 12  Large cities                    1775 non-null   bool
 13  Coastal Locations               1775 non-null   bool
 14  Median Age                      1729 non-null   float64
 15  Distance To Ocean               1775 non-null   object
dtypes: bool(5), float64(7), int64(1), object(3)
memory usage: 175.1+ KB

Dieser Schritt der Datenbereinigung trägt dazu bei, die Qualität unserer Datensätze zu verbessern und sicherzustellen, dass unser Modell fundierte Einblicke in die Faktoren liefert, die die Immobilienpreise in relevanten geografischen Gebieten beeinflussen. Durch die Bereinigung der Daten von Inselstandorten können wir sicherstellen, dass unser Modell besser auf die Bedürfnisse und Merkmale des Festlandmarktes zugeschnitten ist, was zu genaueren und zuverlässigeren Ergebnissen führen wird.

In [466]:
#Alle Data nach Substring 'Ilha'Variable 'Location' löschen
df_Copy['Location'] = df_Copy['Location'].astype(str)
df_Copy = df_Copy[~df_Copy['Location'].str.contains('Ilha')]
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1717 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1717 non-null   object
 1   Price                           1717 non-null   int64
 2   Rooms                           1717 non-null   float64
 3   WCs                             1717 non-null   float64
 4   Net Floor Area (m2)             1598 non-null   float64
 5   Gross Private Area (m2)         1575 non-null   float64
 6   Parking                         1717 non-null   float64
 7   Floor                           875 non-null    float64
 8   Energy Performance Certificate  1717 non-null   object
 9   Elevator_Not available          1717 non-null   bool
 10  Capital                         1717 non-null   bool
 11  Metropolitan Areas              1717 non-null   bool
 12  Large cities                    1717 non-null   bool
 13  Coastal Locations               1717 non-null   bool
 14  Median Age                      1717 non-null   float64
 15  Distance To Ocean               1717 non-null   object
dtypes: bool(5), float64(7), int64(1), object(3)
memory usage: 169.4+ KB


Fill missing values in the DataFrame to ensure consistency and accuracy of the data.

1. Fill missing values in the 'WCs' column with 1:
   The assumption is made that every apartment should have at least one bathroom. By filling NaN values with 1,
   we aim to maintain data integrity and ensure that each apartment record reflects this basic amenity.

2. Fill missing values in the 'Parking' column with 0:
   It is assumed that if parking is not explicitly mentioned in the advertisement, it means there is no parking available.
   By filling NaN values with 0, we align the data with this assumption, providing a standardized representation of parking availability.

These adjustments aim to improve the usability and reliability of the dataset for analysis and modeling purposes.

After performing the above operations, the DataFrame information is displayed using df_Copy.info() to verify the changes.

In [467]:

# Fill missing values in the 'WCs' column with 1, assuming that every apartment has at least one bathroom.
df_Copy = df_Copy.fillna({'WCs': 1})

# Fill missing values in the 'Parking' column with 0, assuming that if parking is not mentioned, it means there is no parking available.
df_Copy = df_Copy.fillna({'Parking': 0})

df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1717 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1717 non-null   object
 1   Price                           1717 non-null   int64
 2   Rooms                           1717 non-null   float64
 3   WCs                             1717 non-null   float64
 4   Net Floor Area (m2)             1598 non-null   float64
 5   Gross Private Area (m2)         1575 non-null   float64
 6   Parking                         1717 non-null   float64
 7   Floor                           875 non-null    float64
 8   Energy Performance Certificate  1717 non-null   object
 9   Elevator_Not available          1717 non-null   bool
 10  Capital                         1717 non-null   bool
 11  Metropolitan Areas              1717 non-null   bool
 12  Large cities                    1717 non-null   bool
 13  Coastal Locations               1717 non-null   bool
 14  Median Age                      1717 non-null   float64
 15  Distance To Ocean               1717 non-null   object
dtypes: bool(5), float64(7), int64(1), object(3)
memory usage: 169.4+ KB

Some advertisements have price and location information available, but crucial variables like Net Floor Area (m2) and Rooms are missing.
In such cases, it is impossible to calculate meaningful statistics such as the median etc for these variables.
These incomplete records may need to be handled separately, potentially through data removing or exclusion from certain analyses.

In [468]:

# Remove rows where both values of two specified columns are NaN
df_Copy.dropna(subset=['Net Floor Area (m2)', 'Rooms'], how='all', inplace=True)

In [469]:
#check the missing data in per cent
df_Copy.isnull().sum() / len(df) * 100

Location                           0.000000
Price                              0.000000
Rooms                              0.000000
WCs                                0.000000
Net Floor Area (m2)                6.105695
Gross Private Area (m2)            7.285788
Parking                            0.000000
Floor                             43.201642
Energy Performance Certificate     0.000000
Elevator_Not available             0.000000
Capital                            0.000000
Metropolitan Areas                 0.000000
Large cities                       0.000000
Coastal Locations                  0.000000
Median Age                         0.000000
Distance To Ocean                  0.000000
dtype: float64

In [453]:
# Filter the DataFrame to include only rows where 'Elevator_Not available' is True
missing_with_elevator = df_Copy[df_Copy['Elevator_Not available']]

# Count the missing values in the 'Floor' column within this subset
missing_floor_with_elevator = missing_with_elevator['Floor'].isnull().sum()
missing_flor = df_Copy['Floor'].isnull().sum()

print("Number of missing values in 'Floor' column with 'Elevator_Not available' = True:", missing_floor_with_elevator, "von ",  missing_flor )

Number of missing values in 'Floor' column with 'Elevator_Not available' = True: 852 von  853

Die aus der CSV-Quelldatei abgerufene Variable "Median Age" ist als String mit Kommas gespeichert, z. B. "1.000".
Um sie als numerischen Wert zu verwenden, müssen wir sie in eine Fließkommazahl umwandeln. Diese Funktion führt die notwendige
Die clean_string Funktion führt die notwendige Konvertierung durch, indem sie die Kommas entfernt und die Zeichenkette in eine Fließkommazahl konvertiert.

In [470]:
# conversion by removing commas and converting the string to a float.


def clean_string(age):
    return float(age.replace(',', '.'))

df_Copy['Median Age']=df_Copy['Median Age'].astype(str)
df_Copy['Median Age']=df_Copy['Median Age'].apply(clean_string)

df_Copy.info()
df_Copy.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1717 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1717 non-null   object
 1   Price                           1717 non-null   int64
 2   Rooms                           1717 non-null   float64
 3   WCs                             1717 non-null   float64
 4   Net Floor Area (m2)             1598 non-null   float64
 5   Gross Private Area (m2)         1575 non-null   float64
 6   Parking                         1717 non-null   float64
 7   Floor                           875 non-null    float64
 8   Energy Performance Certificate  1717 non-null   object
 9   Elevator_Not available          1717 non-null   bool
 10  Capital                         1717 non-null   bool
 11  Metropolitan Areas              1717 non-null   bool
 12  Large cities                    1717 non-null   bool
 13  Coastal Locations               1717 non-null   bool
 14  Median Age                      1717 non-null   float64
 15  Distance To Ocean               1717 non-null   object
dtypes: bool(5), float64(7), int64(1), object(3)
memory usage: 169.4+ KB

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital,Metropolitan Areas,Large cities,Coastal Locations,Median Age,Distance To Ocean
0,"Rio Tinto - Medancelhe, Gondomar",220000,4.0,2.0,126.0,161.0,1.0,0.0,Not available,True,False,True,False,False,47.1,9
1,"Arroios, Lisboa",365000,2.0,1.0,67.0,67.0,0.0,NaN,Not available,True,True,True,True,False,44.8,12
2,"Fafe, Braga",220000,4.0,3.0,180.0,164.0,0.0,NaN,Not available,True,False,False,True,False,44.4,50
3,"Bonfim, Porto",230000,3.0,2.0,87.0,87.0,0.0,NaN,Not available,True,False,True,True,True,47.0,6
4,"Benfica, Lisboa",460000,3.0,2.0,81.0,104.0,1.0,9.0,Energy Performance Certificate,False,True,True,True,False,44.8,9

In [471]:
df_Copy.isnull().sum() / len(df) * 100

Location                           0.000000
Price                              0.000000
Rooms                              0.000000
WCs                                0.000000
Net Floor Area (m2)                6.105695
Gross Private Area (m2)            7.285788
Parking                            0.000000
Floor                             43.201642
Energy Performance Certificate     0.000000
Elevator_Not available             0.000000
Capital                            0.000000
Metropolitan Areas                 0.000000
Large cities                       0.000000
Coastal Locations                  0.000000
Median Age                         0.000000
Distance To Ocean                  0.000000
dtype: float64

In [472]:

# Function to approximate price to the nearest ten thousand
def approximate_price(price):
    price_ap = price
    return round(price_ap / 10000) * 10000
median_area_by_group = df_Copy.groupby(['Rooms', 'Price', 'Location'])['Net Floor Area (m2)'].median()
# Function to impute missing values in 'Net Floor Area (m2)' based on approximate prices
def impute_area(row):
    if pd.isnull(row['Net Floor Area (m2)']):
        # Approximate the price to the nearest ten thousand
        approx_price = approximate_price(row['Price'])
        
        # Retrieve mean area value for the corresponding group
        median_area = median_area_by_group.get((row['Rooms'], approx_price, row['Location']))
        if median_area is not None:
            return median_area
    return row['Net Floor Area (m2)']

# Apply the imputation function to the DataFrame
df_Copy['Net Floor Area (m2)'] = df_Copy.apply(impute_area, axis=1)

In [473]:
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1717 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1717 non-null   object
 1   Price                           1717 non-null   int64
 2   Rooms                           1717 non-null   float64
 3   WCs                             1717 non-null   float64
 4   Net Floor Area (m2)             1602 non-null   float64
 5   Gross Private Area (m2)         1575 non-null   float64
 6   Parking                         1717 non-null   float64
 7   Floor                           875 non-null    float64
 8   Energy Performance Certificate  1717 non-null   object
 9   Elevator_Not available          1717 non-null   bool
 10  Capital                         1717 non-null   bool
 11  Metropolitan Areas              1717 non-null   bool
 12  Large cities                    1717 non-null   bool
 13  Coastal Locations               1717 non-null   bool
 14  Median Age                      1717 non-null   float64
 15  Distance To Ocean               1717 non-null   object
dtypes: bool(5), float64(7), int64(1), object(3)
memory usage: 169.4+ KB

In [474]:


selected_columns = ['Rooms','WCs', 'Parking' , 'Floor']
df_Copy [selected_columns]= df_Copy[selected_columns].astype('category')
df_Copy.info()
df_Copy.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1717 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1717 non-null   object
 1   Price                           1717 non-null   int64
 2   Rooms                           1717 non-null   category
 3   WCs                             1717 non-null   category
 4   Net Floor Area (m2)             1602 non-null   float64
 5   Gross Private Area (m2)         1575 non-null   float64
 6   Parking                         1717 non-null   category
 7   Floor                           875 non-null    category
 8   Energy Performance Certificate  1717 non-null   object
 9   Elevator_Not available          1717 non-null   bool
 10  Capital                         1717 non-null   bool
 11  Metropolitan Areas              1717 non-null   bool
 12  Large cities                    1717 non-null   bool
 13  Coastal Locations               1717 non-null   bool
 14  Median Age                      1717 non-null   float64
 15  Distance To Ocean               1717 non-null   object
dtypes: bool(5), category(4), float64(3), int64(1), object(3)
memory usage: 124.0+ KB

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital,Metropolitan Areas,Large cities,Coastal Locations,Median Age,Distance To Ocean
0,"Rio Tinto - Medancelhe, Gondomar",220000,4.0,2.0,126.0,161.0,1.0,0.0,Not available,True,False,True,False,False,47.1,9
1,"Arroios, Lisboa",365000,2.0,1.0,67.0,67.0,0.0,NaN,Not available,True,True,True,True,False,44.8,12
2,"Fafe, Braga",220000,4.0,3.0,180.0,164.0,0.0,NaN,Not available,True,False,False,True,False,44.4,50
3,"Bonfim, Porto",230000,3.0,2.0,87.0,87.0,0.0,NaN,Not available,True,False,True,True,True,47.0,6
4,"Benfica, Lisboa",460000,3.0,2.0,81.0,104.0,1.0,9.0,Energy Performance Certificate,False,True,True,True,False,44.8,9

In [476]:
df_Copy['Median Age'].min()
df_Copy['Price'].min()

10800

In [378]:
# Filter the DataFrame to include only rows where 'Coastal Locations' is True
coastal_locations = df_Copy[df_Copy['Coastal Locations']]

# Get unique coastal locations
unique_coastal_locations = coastal_locations['Location'].unique()

print("Locations where Coastal Locations=True:")
print(unique_coastal_locations)

Locations where Coastal Locations=True:
['Bonfim, Porto' 'Consolação, Peniche' 'Aviz, Porto'
 'Monserrate, Viana do Castelo' 'Águas Santas, Porto' 'Pechão, Faro'
 'Paredes, Porto' 'Fânzeres e São Pedro da Cova, Porto' 'Alfena, Porto'
 'Matosinhos e Leça da Palmeira, Porto'
 'Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória, Porto'
 'Oliveira do Douro, Porto' 'Tavira (Santa Maria e Santiago), Faro'
 'Meadela, Viana do Castelo' 'Marco, Porto' 'Almancil, Faro'
 'Moncarapacho e Fuseta, Faro' 'Gaeiras, Óbidos'
 'Arcos de Valdevez (Salvador), Vila Fonche e Parada, Viana do Castelo'
 'Santa Catarina, Porto' 'Serralves, Porto' 'Valongo, Porto'
 'Vila do Conde, Porto' 'Praia da Rocha, Portimão' 'Amial, Porto'
 'Conde I, Sesimbra'
 'Ponte da Barca, Vila Nova de Muía e Paço Vedro de Magalhães, Viana do Castelo'
 'Cascais e Estoril, Lisboa' 'Paçô, Viana do Castelo'
 'Lagoa e Carvoeiro, Faro' 'Pedra Mourinha, Portimão' 'Peniche, Peniche'
 'Oliveira de Azeméis, Santiago de Riba-Ul, Ul, Macinhata da Seixa e Madail, Aveiro'
 'Fluvial, Porto' 'Canidelo, Porto' 'Gulpilhares e Valadares, Porto'
 'Santa Marinha e São Pedro da Afurada, Porto'
 'Praça Rainha D. Amélia, Porto' 'Antas, Porto' 'Conceição, Faro'
 'Vilar de Andorinho, Porto' 'Quarteira, Faro' 'Chã, Figueira da Foz'
 'Campo e Sobrado, Porto' 'São Brás de Alportel, Faro'
 'Faro (Sé e São Pedro), Faro' 'Ericeira, Lisboa' 'Quelfes, Faro'
 'Portimão Centro, Portimão' 'Previdência, Porto' 'Ramalde, Porto'
 'Cabanas Tavira, Tavira' 'Ermesinde, Porto'
 'Perafita, Lavra e Santa Cruz do Bispo, Porto' 'Olhão Baixa, Olhão'
 'Polo Universitário, Porto'
 'Arcos de Valdevez (São Paio) e Giela, Viana do Castelo'
 'Albufeira e Olhos de Água, Faro' 'Olhão Centro, Olhão'
 'Silvares, Pias, Nogueira e Alvarenga, Porto'
 'Moledo e Cristelo, Viana do Castelo' 'Paranhos, Porto' 'Meixomil, Porto'
 'Gandra, Porto' 'Espinho, Aveiro' 'Pedroso e Seixezelo, Porto'
 'Nevogilde, Porto' 'Nogueira da Regedoura, Aveiro'
 'Vila Praia de Âncora, Viana do Castelo' 'Portimão, Faro'
 'Chafé, Viana do Castelo' 'Olhão, Faro'
 'Santa Maria da Feira, Travanca, Sanfins e Espargo, Aveiro'
 'Carvalhido, Porto' 'Centro, Olhão' 'Ferreiras, Faro' 'Lejana, Faro'
 'Mealhada, Ventosa do Bairro e Antes, Aveiro' 'Baleal, Peniche'
 'Matadouro de Campanhã, Porto' 'São Félix da Marinha, Porto'
 'Galiza, Porto' 'Paços de Ferreira, Porto' 'Ferrel, Peniche'
 'Coronado (São Romão e São Mamede), Porto'
 'Gondomar (São Cosme), Valbom e Jovim, Porto' 'Lordelo do Ouro, Porto'
 'Campanhã, Porto' 'Cidade da Maia, Porto' 'Torno, Porto'
 'Mafamude e Vilar do Paraíso, Porto' 'Rio Tinto, Porto'
 'Loulé (São Sebastião), Faro' 'Armação de Pêra, Silves'
 'Bemposta, Portimão' 'Sesimbra (Castelo), Setúbal'
 'Pinheiro Manso, Porto' 'Marquês, Porto' 'Paderne, Faro'
 'São Gonçalo de Lagos, Faro' 'Costa da Caparica, Almada'
 'Estoril, Cascais' 'Porto, Porto' 'Costa da Caparica, Setúbal'
 'Boavista, Porto' 'São Mamede de Infesta e Senhora da Hora, Porto'
 'Castelos, Porto' 'Cedofeita, Porto' 'Estômbar e Parchal, Faro'
 'Júlio Dinis, Porto' 'Santa Maria Maior, Viana do Castelo'
 'Arca d´ Água, Porto' 'Metro do Heroísmo, Porto' 'Tavira, Tavira'
 'Alvor, Portimão' 'Esmoriz, Aveiro' 'Amorosa, Viana do Castelo'
 'São João da Madeira, Aveiro' 'Matadouro, Figueira da Foz'
 'Cavalinha, Olhão' 'Cristelos, Boim e Ordem, Porto'
 'Macieira de Cambra, Aveiro' 'Prelada, Porto' 'Olhão Norte, Olhão'
 'Loulé (São Clemente), Faro' 'Fernão Magalhães, Porto'
 'Glória e Vera Cruz, Aveiro' 'Bessa Leite, Porto' 'Lagos, Lagos'
 'Aguçadoura e Navais, Porto' 'Sever do Vouga, Aveiro'
 'Darque, Viana do Castelo' 'Albufeira - Montechoro, Albufeira'
 'Frazão Arreigada, Porto' 'Centro, Aveiro' 'Lordelo, Porto'
 'Costa Cabral, Porto' 'Vila Chã, Codal e Vila Cova de Perrinho, Aveiro'
 'Eiriz, Porto' 'Monte Gordo, Faro'
 'Sítio de Sao Pedro/ Alto do Cano, Tavira'
 'Conceição e Cabanas de Tavira, Faro' 'Moreira, Porto' 'Corujeira, Porto'
 'Recardães e Espinhel, Aveiro' 'Monte Verde, Tavira'
 'Sesmarias, Portimão' 'Real, Ataíde e Oliveira, Porto'
 'Centro Saúde, Faro' 'Lourosa, Aveiro' 'Penafiel, Porto'
 'Vila de Cucujães, Aveiro' 'Paços de Brandão, Aveiro' 'Alboi, Aveiro'
 'Bairro do Rosário, Cascais' 'São Pedro de Castelões, Aveiro'
 'Bougado (São Martinho e Santiago), Porto' 'Esgueira, Aveiro'
 'Penha, Faro' 'Madalena, Porto' 'Cete, Porto'
 'Lanhelas, Viana do Castelo' 'Atouguia da Baleia, Peniche'
 'Alto Rodes, Faro' 'Azurara, Porto' 'Hospital S. João, Porto'
 'Vila Real de Santo António, Faro' 'Vila Nova de Cacela, Faro'
 'Castêlo da Maia, Porto' 'Nazaré, Leiria' 'S. Dinis, Porto'
 'Carcavelos, Cascais' 'Ericeira Periferia, Mafra' 'Gala, Figueira da Foz'
 'Mataduços, Aveiro' 'Ílhavo (São Salvador), Aveiro' 'Praia da Luz, Lagos'
 'Gafanha da Nazaré, Ílhavo' 'Anta e Guetim, Aveiro'
 'Bairro do Liceu, Aveiro' 'Vera Cruz, Aveiro' 'Campo 24 Agosto, Porto'
 'Póvoa de Varzim, Beiriz e Argivai, Porto' 'Verdemilho, Aveiro'
 'Alto do Forno, Figueira da Foz' 'Golden Club, Tavira' 'Atibá, Cascais'
 'Virtudes, Porto' 'Bom João, Faro']

In [496]:


# Replace non-numeric values with NaN
df_Copy['Distance To Ocean'] = pd.to_numeric(df_Copy['Distance To Ocean'], errors='coerce')

# Convert the column to integer
df_Copy['Distance To Ocean'] = df_Copy['Distance To Ocean'].astype('Int64')

print(df_Copy.columns)

Index(['Location', 'Price', 'Rooms', 'WCs', 'Net Floor Area (m2)',
       'Gross Private Area (m2)', 'Parking', 'Floor',
       'Energy Performance Certificate', 'Elevator_Not available', 'Capital',
       'Metropolitan Areas', 'Large cities', 'Coastal Locations', 'Median Age',
       'Distance To Ocean'],
      dtype='object')

In [477]:
df_Copy.to_csv('dataconcatPropertyAndAge2905-00.csv', sep=';', index=False,  encoding='ISO-8859-1' )